cloud_id = "b1g7mh55020i2hpup3cj"
folder_id = "b1g4871feed9nkfl3dnu"
zone = "ru-central1-a"
vm_zone = "ru-central1-a"
public_key_path = "~/.ssh/ubuntu.pub"
private_key_path = "~/.ssh/ubuntu"
token = "LGIHhLKHKhLKJH-hKHKJjhKLJJHKJjh"
instance_count   = 2
app_disk_image   = "fd8b6brrvf4ovk98vkdf" // ubuntu-16-04-lts-v20220314
cidr = "192.168.10.0/24"
